K8S_AUTH_TOKEN=<token> # required
K8S_NAMESPACE=<namespace> # required
K8S_LABEL_SELECTOR=<label_selector> # required, example: app=db,env=dev
K8S_POD_CONTAINER_NAME=<container_name> # required, example: backend


# required, command for backup on container
# example: wal-g backup-push <path_to_postgres_data>
EXEC_BACKUP=<exec_backup> 
# optional, command for get info of backups
# example: wal-g backup-list --json --pretty --detail
EXEC_INFO=<exec_info>


TG_BACKUP_NOTIFICATION_ENABLED=true # default=true
# required if TG_BACKUP_NOTIFICATION_ENABLED=true
# example: -1232345,2910434
TG_BACKUP_NOTIFICATION_CHATS=<chat_ids>

TG_INFO_NOTIFICATION_ENABLED=true # default=true
# required if TG_INFO_NOTIFICATION_ENABLED=true
# example: -1232345,2910434
TG_INFO_NOTIFICATION_CHATS=<chat_ids> 

# required if TG_BACKUP_NOTIFICATION_ENABLED=true or TG_INFO_NOTIFICATION_ENABLED=true
TG_BOT_TOKEN=<bot_token>


# required, cron for execute EXEC_BACKUP command
# example: 0 0 21 * * *
CRON_BACKUP=<cron_backup>
# optional, execute EXEC_BACKUP command
# example: 0 0 8 * * *
CRON_INFO=<cron_info>